@{
    Layout = "~/Views/Shared/_NirmaryGold.cshtml";
}

@Html.Hidden("ResWelcomeMsg", "Currently Under Construction", new { id = "welcomeMsgHome" })

<div class="magicOrder">
    <h2>&nbsp;</h2>
    <canvas id="splashHomePage" class="wouldBeCan" />
    <canvas id="shpText" class="wouldBeCanText" />
</div>

<div class="modernDart">
    <canvas id="splashCenter" class="brokerMessage" />
    @Html.Partial("~/Views/Shared/_IsHomepage.cshtml")
</div>